.__form_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11.5pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Lato';
    span {
        text-decoration: underline;
        font-weight: 900;
    }
}

.__form_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_item {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid gray;
}

.checkbox_item:after {
    content: "";
    position: absolute;
    display: none;
}

.__form_checkbox input:checked~.checkbox_item:after {
    display: block;
}

.__form_checkbox .checkbox_item:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid gray;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

@media screen and (max-width: 768px) {
    .__form_checkbox {
        margin-left: 0;
        font-size: 11pt;
    }
}

@media screen and (max-width: 414px) {
    .__form_checkbox {
        font-size: 10pt;
    }
}